{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!--header-->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 mt-5 mb-3">
            <h2 class="text-center">Add Review</h2>
        </div>
    </div>
    <!--renders the review form for the user to add a review-->
    <div class="row pb-5">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 p-5 form-bg">
            <form method="POST" action="{% url 'add_review' product.id %}" class="form"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    
                    <button class="btn btn-blue rounded-0 btn-dark mt-3 mr-3" type="submit">Add Review</button>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-red btn-danger mt-3 ml-3">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}