{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Handler template for Bad Request 400. -->
<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">400
        </span>
        <div class="mb-4 lead">
          <strong>400 Bad Request</strong>
          <h4>Ooops, something went wrong</h4>
        </div>
        <a href="{% url 'home' %}" class="btn btn-secondary" aria-label="Back to store">Back to store
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}